* {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Child {
    border: 1px solid;
    margin: 20px;
    height: 100px;
    width: 100vw;
}

.parent {
    border: 1px solid;
    margin: 20px;
    height: 100px;
    width: 100vw;
}

