* {
    box-sizing: border-box;
}

.App {

}

.Child {
    border: 1px solid;
    margin: 20px;
    height: 100px;
    width: 100vw;
}

.parent {
    border: 1px solid;
    margin: 20px;
    height: 100px;
    width: 100vw;
}